
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1><strong>Create a Team and Heroes!</strong></h1>
<form action="/teams" method="post">
<p><label for="team_name_id">Team Name: </label>
<input id="team_name_id" type="text" name="team[name]"></p>
<p><label for="team_motto_id">Team Motto: </label>
<input id="team_motto_id" type="text" name="team[motto]"></p>

<h2><strong>Hero 1</strong></h2>
<p><label for="member1_name">Hero's Name: </label>
<input id="member1_name" type="text" name="team[members][][name]"></p>
<p><label for="member1_power">Hero's Power: </label>
<input id="member1_power" type="text" name="team[members][][power]"></p>
<p><label for="member1_bio">Hero's Biography: </label>
<input id="member1_bio" type="text" name="team[members][][biography]"></p>

<h2><strong>Hero 2</strong></h2>
<p><label for="member2_name">Hero's Name: </label>
<input id="member2_name" type="text" name="team[members][][name]"></p>
<p><label for="member2_power">Hero's Power: </label>
<input id="member2_power" type="text" name="team[members][][power]"></p>
<p><label for="member2_bio">Hero's Biography: </label>
<input id="member2_bio" type="text" name="team[members][][biography]"></p>

<h2><strong>Hero 3</strong></h2>
<p><label for="member3_name">Hero's Name: </label>
<input id="member3_name" type="text" name="team[members][][name]"></p>
<p><label for="member3_power">Hero's Power: </label>
<input id="member3_power" type="text" name="team[members][][power]"></p>
<p><label for="member3_bio">Hero's Biography: </label>
<input id="member3_bio" type="text" name="team[members][][biography]"></p>

<p><input type="submit" name="submit" value="submit"></P>
</form>
  </body>
</html>
